.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 2;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.action-btn {
  display: flex;
  gap: 2rem;
}

.btn {
  padding: 1rem 2rem;
}

.btn-red {
  background-color: red;
}

.btn-yellow {
  background-color: yellow;
  color: black;
}

.btn-green {
  background-color: green;
}
