menu "Connectivity Bridge"
config BRIDGE_BUF_SIZE
	int "Transport interface buffer size"
	default 4096
	help
	  Size of transmit/receive buffer for transfer between interfaces.

config BRIDGE_UART_BUF_COUNT
	int "UART buffer block count"
	default 3
	range 3 255
	help
	  Number of buffer blocks assigned for UART instances.
	  This value is scaled with the number of interfaces.
	  With the default instance count of 2, and for example 3 buffers,
	  the total will be 6 buffers.
	  Note that all buffers are shared between UART instances.
endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

